# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Local development settings
settings_local.py

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Test coverage and reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django static files
staticfiles/
media/

# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# VS Code
.vscode/

# MacOS specific files
.DS_Store

# Docker specific files
Dockerfile
docker-compose.yml

# Other IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Ignore git files
.git
.gitignore
